AFDB/*
!AFDB/.gitkeep
AFDB_data/*
!AFDB_data/.gitkeep

LTAFDB/*
!LTAFDB/.gitkeep
LTAFDB_data/*
!LTAFDB_data/.gitkeep

NSR/*
!NSR/.gitkeep
AFDB_data/*
!NSR/.gitkeep

ECG_ID/*
!ECG_ID/.gitkeep
ECG_ID_data/*
!ECG_ID_data/.gitkeep

contest_data_4s/*
!contest_data_4s/.gitkeep

contest_data_5s/*
!contest_data_5s/.gitkeep

contest_data_6s/*
!contest_data_6s/.gitkeep